.container {
  --container-gutter-x: 1.5rem;

  box-sizing: border-box;
  width: 100%;
  padding-right: calc(var(--container-gutter-x) * 0.5);
  padding-left: calc(var(--container-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container { max-width: 540px; }
}

@media (min-width: 768px) {
  .container { max-width: 720px; }
}

@media (min-width: 992px) {
  .container { max-width: 960px; }
}

@media (min-width: 1200px) {
  .container { max-width: 1140px; }
}

@media (min-width: 1400px) {
  .container { max-width: 1320px; }
}

.box-section {
  background-color: themed("color-section");
  padding: $base-padding;
  margin-bottom: 1.5rem;
  border-radius: $border-radius-half;

  // For some reason, link hover color was overriden in the original stylesheet.
  &.background-green, &.background-grey, &.background-red, &.background-yellow {
    a:hover {
      color: themed("color-text");
    }
  }
}
